<div class="form-group">
<% get_all_users.each do |user| %>
    <p><%= user.name %></p>
    <p><%= user.email %></p>

    <% if current_user.is_admin? %>
        <%= link_to "Profile", user_path(user), class: "btn btn-success btn-sm" %>
        
        <% if user.ban == false %>
            <%= link_to "Ban", ban_user_path(user), class: "btn btn-danger btn-sm" %>
        <%else%>
            <%= link_to "Unban", unban_user_path(user), class: "btn btn-danger btn-sm" %>
        <%end%>
        
    <% end %>

    </br>
<%end%>
</div>
