<h3 align="center">UniDates Users</h3>

<div class="container" style="background-color: rgba(50, 50, 50, 0.8); height: 550px; overflow-y: scroll;">
    <% get_all_users.each do |user| %>
        <div class="block">
            <h4><%= user.name %></h4>
            <p><%= user.email %></p>
            <% if current_user.is_admin? %>
                <%= link_to "Profile", user_path(user), class: "btn btn-success btn-sm" %>
                
                <% if user.ban == false %>
                    <%= link_to "Ban", ban_user_path(user), class: "btn btn-danger btn-sm" %>
                <%else%>
                    <%= link_to "Unban", unban_user_path(user), class: "btn btn-danger btn-sm" %>
                <%end%>
            <%end%>
        </div>
    <%end%>
</div>