<% provide(:title, 'Sign up') %>
<% provide(:button_text, 'Continue') %>

<div class="container">
  <div class="row">
    <div class="col-xs-3"></div>
    <div class="col-xs-6">
      <div class="container glass-back">
        <div class="custom-form">
          <h2 style="text-align: center">Sign Up</h2>
          <%= form_for(@user, url: signup_path) do |f| %>
              <%= render 'shared/error_messages', object: @user %>
              <div class="form-group inline-block">
                <%= f.text_field :name, placeholder: 'what do they call you?', class: 'form-control custom' %>
              </div>

              <div class="form-group">
                <%= f.email_field :email, placeholder: 'where do we send electronic mail?', class: 'form-control custom' %>
              </div>

              <div class="form-group">
              <%= f.label :dob, 'when were you created?', class: 'form-control custom-label'%>
                <%= f.date_select :dob, {:order => [:day, :month, :year], :start_year => 2017, :end_year => 1905}, {:class => 'form-control custom-select'} %>
              </div>

              <div class="form-group">
                <%= f.select(:gender, ['Man', 'Woman'], {:prompt => 'I am a...'}, {:class => 'form-control custom'}) %>
              </div>

              <div class="form-group">
                <%= f.select(:preference, ['Men', 'Women', 'Both'], {:prompt => 'i\'m interested in:'}, {:class => 'form-control custom'}) %>
              </div>

              <div class="form-group">
                <%= f.password_field :password, placeholder: 'password (keep it sneaky)', class: 'form-control custom' %>
              </div>

              <div class="form-group">
                <%= f.password_field :password_confirmation, placeholder: 'password confirm', class: 'form-control custom' %>
              </div>

              <%= f.submit yield(:button_text), class: "btn btn-primary" %>
          <% end %>
        </div>
      </div>
    </div>
    <div class="col-xs-3"></div>
  </div>
</div>