<div class="container-fluid">
  <div class="row">
    <div class="col-sm-3"></div>

    <div class="col-sm-6 col-xs-12" align="center">
      <div class="container custom">
        <div id="glass-pane">

          <div class="content" style="position:relative;">

          <% if user_has_image?(@user.id) %>
            <%= image_tag(@user.avatar.url(:square), class:'circle')%>
          <%else%>
            <%= image_tag('default_profile.png', width: 'auto', height: 'auto')%>
          <%end%>

            <i><h2><%= @user.name %></i></h2>

            <hr>

            <strong>Email:&nbsp;</strong><i><%= @user.email %></i>
            <br><strong>Birthday:&nbsp;</strong><i><%= @user.dob %></i><br>


            <br><strong>I'm A:&nbsp;</strong><i><%= @user.gender %></i>
            <br><strong>I'm Interested In:&nbsp;</strong><i><%= @user.preference %></i>


            <p> description: <%= @user.description %></p>

            <br>
            <br>
            <strong>My Preferences:</strong>
            <br>
            <i>
              <% @user.questionnaire.each do |questionnaire| %>
                  <%= questionnaire.q1.tr("_", " ") %>,
                  <%= questionnaire.q2.tr("_", " ") %>,
                  <%= questionnaire.q3.tr("_", " ") %>,
                  <%= questionnaire.q4.tr("_", " ") %>,
                  <%= questionnaire.q5.tr("_", " ") %>,
                  <%= questionnaire.q6.tr("_", " ") %>,
                  <%= questionnaire.q7.tr("_", " ") %>,
                  <%= questionnaire.q8.tr("_", " ") %>,
                  <%= questionnaire.q9.tr("_", " ") %>,
                  <%= questionnaire.q10.tr("_", " ") %>
              <% end %>
            </i>
            <br>
            <br>

            <% if @user != current_user %>
                <%= link_to "Report", new_report_path(reported_id: @user.id), class: "btn btn-danger btn-block" %>
            <% end %>


          </div> <!--END CONTENT-->
        </div>
      </div>
    </div>

    <div class="col-sm-3">
    </div>
  </div>
</div>