<div class="white-box">
<p>
<center>

<div id="profile-container">
<image id="profileImage" src="http://www.nmvpolytechnic.com/images/first%20year/blank.jpg"/>
</div>

<input id="imageUpload" type="file" name="profile_photo" placeholder="Photo" required="" capture> 

<font size="20"><%= @user.name %></center></font>

<strong>Email:&nbsp;</strong><%= @user.email %>
<br><strong>Birthday:&nbsp;</strong><%= @user.dob %><br>


<br><strong>I am a:&nbsp;</strong><%= @user.gender %>
<br><strong>I'm interested in:&nbsp;</strong><%= @user.preference %>

<br><br><strong>My preferences:</strong><% @user.questionnaire.each do |questionnaire| %>
    <%= questionnaire.q1 %>,
    <%= questionnaire.q2 %>,
    <%= questionnaire.q3 %>,
    <%= questionnaire.q4 %>,
    <%= questionnaire.q5 %>,
    <%= questionnaire.q6 %>,
    <%= questionnaire.q7 %>,
    <%= questionnaire.q8 %>,
    <%= questionnaire.q9 %>,
    <%= questionnaire.q10 %>
<%end%>

</p>
</div>