<!--THE CONTAINER FOR EACH OF THE MATCHED USERS-->
<div class="container custom">
  <div id="glass-pane">
    <div class="content" style="position:relative;">
      <div class="row">
        <div class="col-xs-6" style="padding-top: 1%;">
          
          <% if user_has_image?(user[:id]) %>
            <% current_other_user = find_user(user[:id]) %>
            <%= link_to image_tag(current_other_user.avatar.url(:square), class:'circle pref-img'), user_path(user[:id]) %>
          <%else%>
            <%= link_to image_tag('default_profile.png', class: 'pref-img', width: 'auto', height: 'auto'), user_path(user[:id]) %>
          <%end%>
        
        </div>
        <div class="col-xs-6">
          <table>
            <tr><td><h4><%= user[:name] %>,</h4></td></tr>
            <tr><td><h5><%= user[:gender] %></h5></td></tr>
            <tr><td><h5><%= user[:dob] %>,</h5></td></tr>
            <tr><td><h6>Matched: <%= number_with_precision((user[:count] / 10.0) * 100, :precision => 2) %>%</h6></td></tr>
            <%= render :partial => 'shared/like_and_match', :locals => {:oth_id => user[:id]} %>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>



