<!--THE CONTAINER FOR EACH OF THE MATCHED USERS-->

<div class="container custom">
  <div id="glass-pane">
    <div class="content" style="position:relative;">
      <div class="row">
        <div class="col-xs-6 col-md-6 col-lg-6" style="padding-top: 1%;">
          <%= link_to image_tag('default_profile.png', width: 'auto', height: 'auto'), user_path(user[:id]) %>
        </div>
        <div class="col-xs-6 col-md-6 col-lg-6">
          <h4><%= user[:name] %>,</h4>
          <h5><%= user[:gender] %></h5>
          <h5><%= user[:dob] %>,</h5>
          <h6>Matched: <%= number_with_precision((user[:count] / 10.0) * 100, :precision => 2) %>%</h6>

          <%= render :partial => 'shared/like_and_match', :locals => {:oth_id => user[:id]} %>

        </div>
      </div>
    </div>
  </div>
</div>



