<!--THE CONTAINER FOR EACH OF THE MATCHED USERS-->

<div class="container custom">
  <div class="glass-back"></div>
  <div class="content" style="position:relative;">
    <div class="row">
      <div class="col-xs-6 col-md-6 col-lg-6" style="padding-top: 1%;">
        <%= link_to image_tag('default_profile.png', width: 'auto', height: 'auto'), user_path(user[:id]) %>
      </div>
      <div class="col-xs-6 col-md-6 col-lg-6">
        <h4><%= user[:name] %>,</h4>
        <h5><%= user[:gender] %></h5>
        <h5><%= user[:dob] %>,</h5>
        <h6>Matched: <%= user[:count] %>0%</h6>
        
        
        <% if Like.exists?(user_id: user[:id], liked_user_id: current_user.id)%>
          <p> <%= user[:name]%> has liked you</p>
        <%end%>
        
        <% if Like.where(user_id: current_user.id).where(liked_user_id: user[:id]).empty? %>
          <%= link_to "Like", add_like_user_path(current_user, liked_user: user[:id]), class: 'btn btn-success btn-sm' %>
        <%else%>
          <%= link_to "Unlike", add_unlike_user_path(current_user, liked_user: user[:id]), class: 'btn btn-success btn-sm' %>
        <%end%>
        
        <%if Like.exists?(user_id: current_user.id, liked_user_id: user[:id]) && Like.exists?(user_id: user[:id], liked_user_id: current_user.id) %>
          
          <p>MATCH!</p>
        <%end%>


        
        <%-# link_to 'chat', conversations_path(user_id: user[:id]), remote: true, method: :post -%>

          
        




      </div>
    </div>
  </div>
</div>



