 <%= form_for(@questionnaire) do |f| %>
      
      <div class="form-group">
        <%= f.label :q1 %>
        <p> Cat <%= f.radio_button(:q1, "Cat")%>  
            Dog <%= f.radio_button(:q1, "Dog")%></p>
      </div>
    
      <div class="form-group">
        <%= f.label :q2 %>
        <p> Art <%= f.radio_button(:q2, "Art")%>
            Sport <%= f.radio_button(:q2, "Sport")%></p>
      </div>
      
      <div class="form-group">
        <%= f.label :q3 %>
        <p>Drinks <%= f.radio_button(:q3, "Drinks") %>
           Clubbing <%= f.radio_button(:q3, "Clubbing") %></p>
      </div>
      
      <div class="form-group">
        <%= f.label :q4 %>
        <p> Iphone <%= f.radio_button(:q4, "Iphone")%>
            Android <%= f.radio_button(:q4, "Android")%></p>
    </div>

      <div class="form-group">
        <%= f.label :q5 %>
        <p> Books <%= f.radio_button(:q5, "Books")%>
            Movies <%= f.radio_button(:q5, "Movies")%></p>
    </div>

      <div class="form-group">
        <%= f.label :q6 %>
        <p> Bali <%= f.radio_button(:q6, "Bali")%>
            Paris <%= f.radio_button(:q6, "Paris")%></p>
    </div>

      <div class="form-group">
        <%= f.label :q7 %>
        <p> Cafe <%= f.radio_button(:q7, "Cafe")%>
            Restaurant <%= f.radio_button(:q7, "Restaurant")%></p>
    </div>

      <div class="form-group">
        <%= f.label :q8 %>
        <p> Board Games <%= f.radio_button(:q8, "Board Games")%>
            Video Games <%= f.radio_button(:q8, "Video Games")%></p>
    </div>

      <div class="form-group">
        <%= f.label :q9 %>
        <p> Walk on beach <%= f.radio_button(:q9, "Walk on beach")%>
            Walk in park <%= f.radio_button(:q9, "Walk in park")%></p>
    </div>

    <div class="form-group">
        <%= f.label :q10 %>
        <p> Building 80 elevators <%= f.radio_button(:q10, "Building 80 elevators")%>
            Building 80 escalators <%= f.radio_button(:q10, "Building 80 escalators")%></p>
    </div>
    
    <%= f.hidden_field :user_id, :value => current_user.id%>
    <%= f.submit yield(:button_text), class: "btn btn-primary" %>
<% end %>