        <%
        preferences_asked = Hash.new { |hash, key| hash[key] = {} } 

        preferences_asked[0][:q_num] = 'q1'
        preferences_asked[0][:text1] = 'Cats'
        preferences_asked[0][:text2] = 'Dogs'
        preferences_asked[0][:image1] = 'cat2-cicle.png'
        preferences_asked[0][:image2] = 'dog2-circle.png'
        

        preferences_asked[1][:q_num] = 'q2'
        preferences_asked[1][:text1] = 'Walk_On_The_Beach'
        preferences_asked[1][:text2] = 'Walk_In_The_Park'
        preferences_asked[1][:image1] = 'beach1-circle.png'
        preferences_asked[1][:image2] = 'park2-circle.png'

        preferences_asked[2][:q_num] = 'q3'
        preferences_asked[2][:text1] = 'Movies'
        preferences_asked[2][:text2] = 'Books'
        preferences_asked[2][:image1] = 'movies2-circle.png'
        preferences_asked[2][:image2] = 'books1-circle.png'
        

        preferences_asked[3][:q_num] = 'q4'
        preferences_asked[3][:text1] = 'Dining_At_A_Restaurant'
        preferences_asked[3][:text2] = 'Coffee_At_A_Cafe'
        preferences_asked[3][:image1] = 'restaurant2-circle.png'
        preferences_asked[3][:image2] = 'cafe1-circle.png'
  
        preferences_asked[4][:q_num] = 'q5'
        preferences_asked[4][:text1] = 'Video_Games'
        preferences_asked[4][:text2] = 'Board_Games'
        preferences_asked[4][:image1] = 'video2-circle.png'
        preferences_asked[4][:image2] = 'board2-circle.png'

        preferences_asked[5][:q_num] = 'q6'
        preferences_asked[5][:text1] = 'Android'
        preferences_asked[5][:text2] = 'iPhone'
        preferences_asked[5][:image1] = 'android1-circle.png'
        preferences_asked[5][:image2] = 'iphone2-circle.png'

 
        preferences_asked[6][:q_num] = 'q7'
        preferences_asked[6][:text1] = 'Art'
        preferences_asked[6][:text2] = 'Sport'
        preferences_asked[6][:image1] = 'art1-circle.png'
        preferences_asked[6][:image2] = 'sport2-circle.png'

        preferences_asked[7][:q_num] = 'q8'
        preferences_asked[7][:text1] = 'Paris'
        preferences_asked[7][:text2] = 'Bali'
        preferences_asked[7][:image1] = 'paris2-circle.png'
        preferences_asked[7][:image2] = 'bali1-circle.png'

 
        preferences_asked[8][:q_num] = 'q9'
        preferences_asked[8][:text1] = 'Drinks_At_A_Bar'
        preferences_asked[8][:text2] = 'Night_Out_Clubbing'
        preferences_asked[8][:image1] = 'bar2-circle.png'
        preferences_asked[8][:image2] = 'club2-circle.png'

        preferences_asked[9][:q_num] = 'q10'
        preferences_asked[9][:text1] = 'Building_8_Escalators'
        preferences_asked[9][:text2] = 'Building_80_Elevators'
        preferences_asked[9][:image1] = 'escalator1-circle.png'
        preferences_asked[9][:image2] = 'lift1-circle.png'
        %>
        
<!--
<div class="container">
  <div id="preference_wrapper">
    <div class="preference">
      <span id="text1">Preference 1</span>
      <img src="/cat.png" id="image1">
    </div>
    <div class="preference">
      <span id="text2">Preference 2</span>
      <img src="/dog.png" id="image2">
    </div>
  </div>
</div>
-->

 <%= form_for(@questionnaire) do |f| %>
  <% preferences_asked.each do |key, i| %>      
    <p><%= i[:q_num] %></p>
    <div class="form-group">
          <%  label_id1 = i[:q_num] + '_' + i[:text1] %>
          <%  label_id2 = i[:q_num] + '_' + i[:text2] %>
          
          <%= f.radio_button(i[:q_num], i[:text1], class: "input-hidden")%>
          
          <%= f.label(label_id1.downcase) do%>
            <%= image_tag(i[:image1]) %>
          <%end%>
          
          <%= f.radio_button(i[:q_num], i[:text2], class: "input-hidden")%>
          
          <%= f.label(label_id2.downcase) do%>
            <%= image_tag(i[:image2]) %>
          <%end%>
    </div>
  <%end%>
  
    <%= f.hidden_field :user_id, :value => current_user.id%>
    <%= f.submit yield(:button_text), class: "btn btn-primary" %>
<% end %>