        

        <%
        preferences_asked = Hash.new { |hash, key| hash[key] = {} } 

        preferences_asked[0][:q_num] = 'q1'
        preferences_asked[0][:text1] = 'Dog'
        preferences_asked[0][:text2] = 'Cat'
        preferences_asked[0][:img1] = 'dog2-circle.png'
        preferences_asked[0][:img2] = 'cat2-cicle.png'

 
        preferences_asked[1][:q_num] = 'q2'
        preferences_asked[1][:text1] = 'Art'
        preferences_asked[1][:text2] = 'Sport'
        preferences_asked[1][:img1] = 'art1-circle.png'
        preferences_asked[1][:img2] = 'sport2-circle.png'

 
        preferences_asked[2][:q_num] = 'q3'
        preferences_asked[2][:text1] = 'Drinks'
        preferences_asked[2][:text2] = 'Clubbing'
        preferences_asked[2][:img1] = 'bar2-circle.png'
        preferences_asked[2][:img2] = 'club2-circle.png'


        preferences_asked[3][:q_num] = 'q4'
        preferences_asked[3][:text1] = 'Iphone'
        preferences_asked[3][:text2] = 'Android'
        preferences_asked[3][:img1] = 'iphone2-circle.png'
        preferences_asked[3][:img2] = 'android1-circle.png'


        preferences_asked[4][:q_num] = 'q5'
        preferences_asked[4][:text1] = 'Books'
        preferences_asked[4][:text2] = 'Movies'
        preferences_asked[4][:img1] = 'books1-circle.png'
        preferences_asked[4][:img2] = 'movies2-circle.png'


        preferences_asked[5][:q_num] = 'q6'
        preferences_asked[5][:text1] = 'Bali'
        preferences_asked[5][:text2] = 'Paris'
        preferences_asked[5][:img1] = 'bali1-circle.png'
        preferences_asked[5][:img2] = 'paris2-circle.png'


        preferences_asked[6][:q_num] = 'q7'
        preferences_asked[6][:text1] = 'Cafe'
        preferences_asked[6][:text2] = 'Restaurant'
        preferences_asked[6][:img1] = 'cafe1-circle.png'
        preferences_asked[6][:img2] = 'restaurant2-circle.png'


        preferences_asked[7][:q_num] = 'q8'
        preferences_asked[7][:text1] = 'Board_Games'
        preferences_asked[7][:text2] = 'Video_Games'
        preferences_asked[7][:img1] = 'board2-circle.png'
        preferences_asked[7][:img2] = 'video2-circle.png'


        preferences_asked[8][:q_num] = 'q9'
        preferences_asked[8][:text1] = 'Walk_on_beach'
        preferences_asked[8][:text2] = 'Walk_in_park'
        preferences_asked[8][:img1] = 'beach1-circle.png'
        preferences_asked[8][:img2] = 'park2-circle.png'


        preferences_asked[9][:q_num] = 'q10'
        preferences_asked[9][:text1] = 'Building_80_elevators'
        preferences_asked[9][:text2] = 'Building_80_escalators'
        preferences_asked[9][:img1] = 'lift1-circle.png'
        preferences_asked[9][:img2] = 'escalator1-circle.png'
        %>

 <%= form_for(@questionnaire) do |f| %>
  <% preferences_asked.each do |key, i| %>      
    <p><%= i[:q_num] %></p>
    <div class="form-group">
          <%  label_id1 = i[:q_num] + '_' + i[:text1] %>
          <%  label_id2 = i[:q_num] + '_' + i[:text2] %>
          
          <%= f.radio_button(i[:q_num], i[:text1], class: "input-hidden")%>
          
          <%= f.label(label_id1.downcase) do%>
            <%= image_tag(i[:img1]) %>
          <%end%>
          
          <%= f.radio_button(i[:q_num], i[:text2], class: "input-hidden")%>
          
          <%= f.label(label_id2.downcase) do%>
            <%= image_tag(i[:img2]) %>
          <%end%>
    </div>
  <%end%>
  
    <%= f.hidden_field :user_id, :value => current_user.id%>
    <%= f.submit yield(:button_text), class: "btn btn-primary" %>
<% end %>
