<%
  preferences_asked = Hash.new {|hash, key| hash[key] = {}}

  preferences_asked[0][:q_num] = 'q1'
  preferences_asked[0][:text1] = 'Cats'
  preferences_asked[0][:text2] = 'Dogs'
  preferences_asked[0][:image1] = 'cat2-cicle.png'
  preferences_asked[0][:image2] = 'dog2-circle.png'
  preferences_asked[0][:p_num] = 'pq1'


  preferences_asked[1][:q_num] = 'q2'
  preferences_asked[1][:text1] = 'Walk_On_The_Beach'
  preferences_asked[1][:text2] = 'Walk_In_The_Park'
  preferences_asked[1][:image1] = 'beach1-circle.png'
  preferences_asked[1][:image2] = 'park2-circle.png'
  preferences_asked[1][:p_num] = 'pq2'

  preferences_asked[2][:q_num] = 'q3'
  preferences_asked[2][:text1] = 'Movies'
  preferences_asked[2][:text2] = 'Books'
  preferences_asked[2][:image1] = 'movies2-circle.png'
  preferences_asked[2][:image2] = 'books1-circle.png'
  preferences_asked[2][:p_num] = 'pq3'


  preferences_asked[3][:q_num] = 'q4'
  preferences_asked[3][:text1] = 'Dining_At_A_Restaurant'
  preferences_asked[3][:text2] = 'Coffee_At_A_Cafe'
  preferences_asked[3][:image1] = 'restaurant2-circle.png'
  preferences_asked[3][:image2] = 'cafe1-circle.png'
  preferences_asked[3][:p_num] = 'pq4'

  preferences_asked[4][:q_num] = 'q5'
  preferences_asked[4][:text1] = 'Video_Games'
  preferences_asked[4][:text2] = 'Board_Games'
  preferences_asked[4][:image1] = 'video2-circle.png'
  preferences_asked[4][:image2] = 'board2-circle.png'
  preferences_asked[4][:p_num] = 'pq5'

  preferences_asked[5][:q_num] = 'q6'
  preferences_asked[5][:text1] = 'Android'
  preferences_asked[5][:text2] = 'iPhone'
  preferences_asked[5][:image1] = 'android1-circle.png'
  preferences_asked[5][:image2] = 'iphone2-circle.png'
  preferences_asked[5][:p_num] = 'pq6'


  preferences_asked[6][:q_num] = 'q7'
  preferences_asked[6][:text1] = 'Art'
  preferences_asked[6][:text2] = 'Sport'
  preferences_asked[6][:image1] = 'art1-circle.png'
  preferences_asked[6][:image2] = 'sport2-circle.png'
  preferences_asked[6][:p_num] = 'pq7'

  preferences_asked[7][:q_num] = 'q8'
  preferences_asked[7][:text1] = 'Paris'
  preferences_asked[7][:text2] = 'Bali'
  preferences_asked[7][:image1] = 'paris2-circle.png'
  preferences_asked[7][:image2] = 'bali1-circle.png'
  preferences_asked[7][:p_num] = 'pq8'


  preferences_asked[8][:q_num] = 'q9'
  preferences_asked[8][:text1] = 'Drinks_At_A_Bar'
  preferences_asked[8][:text2] = 'Night_Out_Clubbing'
  preferences_asked[8][:image1] = 'bar2-circle.png'
  preferences_asked[8][:image2] = 'club2-circle.png'
  preferences_asked[8][:p_num] = 'pq9'

  preferences_asked[9][:q_num] = 'q10'
  preferences_asked[9][:text1] = 'Building_8_Escalators'
  preferences_asked[9][:text2] = 'Building_80_Elevators'
  preferences_asked[9][:image1] = 'escalator1-circle.png'
  preferences_asked[9][:image2] = 'lift1-circle.png'
  preferences_asked[9][:p_num] = 'pq10'
%>

<!--
<div class="container">
  <div id="preference_wrapper">
    <div class="preference">
      <span id="text1">Preference 1</span>
      <img src="/cat.png" id="image1">
    </div>
    <div class="preference">
      <span id="text2">Preference 2</span>
      <img src="/dog.png" id="image2">
    </div>
  </div>
</div>
-->

<div class="container-fluid">
  <div class="row">
    <div class="col-sm-1"></div>

    <div class="col-sm-10 col-xs-12" align="center">
      <h1 style="padding-bottom: 5%;">Let us know about you.</h1>
      <div class="container custom signup">

        <div id="glass-pane" style="height: 580px;">
          <div class="content" style="position:relative;">
            <!--Start form-->
            <%= form_for(@questionnaire) do |f| %>

                <div id="myCarousel" class="carousel slide" data-ride="carousel" data-interval="false">

                  <!-- Wrapper for slides -->
                  <div class="carousel-inner">

                    <!--MAIN LOOP HERE-->
                    <% preferences_asked.each do |key, i| %>

                        <div class="<%= key == 0 ? "item active" : "item" %>">
                          <!--START CONTENT-->
                          <table style="margin-left: 10%; margin-right: 10%;">
                            <% label_id1 = i[:q_num] + '_' + i[:text1] %>
                            <% label_id2 = i[:q_num] + '_' + i[:text2] %>

                            <!--Question Title-->
                            <tr>
                              <td colspan="3" style="text-align: center; height: 30px; font-family: Courier New, Courier, monospace !important;">
                                <h1 style="width: 50vw;"><%= i[:text1].tr("_", " ") + " or " + i[:text2].tr("_", " ") %></h1></td>
                            </tr>


                            <!--Question content-->
                            <tr style="text-align: center">

                              <!--Option 1-->
                              <td style="padding-bottom: 25px;">
                                <%= f.radio_button(i[:q_num], i[:text1], class: "input-hidden") %>
                                <%= f.label(label_id1.downcase) do %>
                                    <%= image_tag(i[:image1], :class => "pref-img", style: "margin-right: 15px; box-shadow: 10px 10px 5px rgba(33, 25, 25, 0.32);border-radius: 100px;") %>
                                <% end %>
                              </td>

                              <!--Option 2-->
                              <td style="padding-bottom: 25px;">
                                <%= f.radio_button(i[:q_num], i[:text2], class: "input-hidden") %>
                                <%= f.label(label_id2.downcase) do %>
                                    <%= image_tag(i[:image2], :class => "pref-img", style: "margin-left: 15px;box-shadow: 10px 10px 5px rgba(33, 25, 25, 0.32);border-radius: 100px;") %>
                                <% end %>
                              </td>
                            </tr>

                            <tr style="text-align: center">
                              <!--Priority-->
                              <td colspan="3">
                                <%= f.select(i[:p_num], [1, 2, 3, 4, 5, 6, 7, 8, 9, 10], {:prompt => 'Choose your priority'}, {:class => 'form-control custom-date-select'}) %>
                                <br>
                                <%= f.label :priority, 'How much does this mean to you?', class: 'custom-label', style: 'font-weight: 100' %>
                                <br>
                                <%= f.label :priority, '(Highest = 1)', class: 'custom-label', style: 'font-weight: 100' %>
                              </td>
                            </tr>

                          </table>
                          <!--END CONTENT-->

                          <% if key == 9 %>
                              <%= f.hidden_field :user_id, :value => current_user.id %>
                              <%= f.submit yield(:button_text), class: "btn btn-success btn-block", style: "margin-top: 40px;" %>
                          <% end %>

                        </div>
                    <% end %>
                    <!--End LOOP-->


                    <!-- Left and right controls -->
                    <a class="left carousel-control" href="#myCarousel" data-slide="prev">
                      <span class="glyphicon glyphicon-chevron-left"></span>
                      <span class="sr-only">Previous</span>
                    </a>
                    <a class="right carousel-control" href="#myCarousel" data-slide="next">
                      <span class="glyphicon glyphicon-chevron-right"></span>
                      <span class="sr-only">Next</span>
                    </a>
                  </div>
                </div>

            <% end %>
            <!--END FORM-->
          </div>
        </div>

      </div>
    </div>

    <div class="col-sm-1">
    </div>
  </div>
</div>





