<% provide(:title, 'Questonnaire') %>
<div class="loginbackbox">
  <h1>Personality questonnaire</h1>
  <table class = center>
    <%= form_for(@questonnaire) do |f| %>
        <tr>
          <th><%= f.label :question_1, "This is question 1: ", class: "form label" %></th>
          <th><%= f.text_field :question_1, class: "form field" %></th>

            <%= radio_button_tag(:age, "child") %>
            <%= label_tag(:age_child, "I am younger than 21") %>
            <%= radio_button_tag(:age, "adult") %>
            <%= label_tag(:age_adult, "I'm over 21") %>
        </tr>

        <tr>

        </tr>

        <tr>

        </tr>

        <tr>

        </tr>

        <tr>
          <th colspan="2" class = "text-center"><%= f.submit "Create account", class: "btn btn-primary" %></th>
        </tr>
    <% end %>
  </table>
</div>