<% provide(:title, 'Update Questionnaire') %>
<% provide(:button_text, 'Update Questionnaire') %> 

 <%= form_for(@questionnaire) do |f| %>
      
      <div class="form-group">
        <%= f.label :q1 %>
        <p> Cat <%= f.radio_button(:q1, "Cat") %>  
            Dog <%= f.radio_button(:q1, "Dog") %></p>
      </div>
    
      <div class="form-group">
        <%= f.label :q2 %>
        <p> Fox <%= f.radio_button(:q2, "Fox") %>
            Mouse <%= f.radio_button(:q2, "Mouse") %></p>
      </div>
      
      <div class="form-group">
        <%= f.label :q3 %>
        <p>Linking <%= f.radio_button(:q3, "Linking") %>
           Billy <%= f.radio_button(:q3, "Billy") %></p>
      </div>
      
      <div class="form-group">
        <%= f.label :q4 %>
        <p> Apples <%= f.radio_button(:q4, "Apples") %>
            Orange <%= f.radio_button(:q4, "Orange") %></p>
    </div>

      <div class="form-group">
        <%= f.label :q5 %>
        <p> Whine <%= f.radio_button(:q5, "Whine") %>
            Soda <%= f.radio_button(:q5, "Soda") %></p>
    </div>

      <div class="form-group">
        <%= f.label :q6 %>
        <p> Run <%= f.radio_button(:q6, "Run") %>
            Walk <%= f.radio_button(:q6, "Walk") %></p>
    </div>

      <div class="form-group">
        <%= f.label :q7 %>
        <p> Meat <%= f.radio_button(:q7, "Meat") %>
            Fruit <%= f.radio_button(:q7, "Fruit") %></p>
    </div>

      <div class="form-group">
        <%= f.label :q8 %>
        <p> Mince <%= f.radio_button(:q8, "Mince") %>
            Whole <%= f.radio_button(:q8, "Whole") %></p>
    </div>

      <div class="form-group">
        <%= f.label :q9 %>
        <p> House <%= f.radio_button(:q9, "House") %>
            Apartment <%= f.radio_button(:q9, "Apartment") %></p>
    </div>

    <div class="form-group">
        <%= f.label :q10 %>
        <p> School <%= f.radio_button(:q10, "School") %>
            Uni <%= f.radio_button(:q10, "Uni") %></p>
    </div>
    
    <%= f.hidden_field :user_id, :value => current_user.id%>
    <%= f.submit yield(:button_text), class: "btn btn-primary" %>
<% end %>

