
<% provide(:button_text, 'Finish') %>

 <%= form_for(@questionnaire) do |f| %>
      
      <div class="form-group">
        <%= f.label :q1 %>
        <p> Cat <%= f.radio_button(:q1, "Cat") %>  
            Dog <%= f.radio_button(:q1, "Dog") %></p>
      </div>
    
      <div class="form-group">
        <%= f.label :q2 %>
        <p> Walk on the Beach <%= f.radio_button(:q2, "Walk on the Beach") %>
            Walk in the Park <%= f.radio_button(:q2, "Walk in the Park") %></p>
      </div>
      
      <div class="form-group">
        <%= f.label :q3 %>
        <p>Movies <%= f.radio_button(:q3, "Movies") %>
           Books <%= f.radio_button(:q3, "Books") %></p>
      </div>
      
      <div class="form-group">
        <%= f.label :q4 %>
        <p> Restaurant <%= f.radio_button(:q4, "Restaurant") %>
            Cafe <%= f.radio_button(:q4, "Cafe") %></p>
    </div>

      <div class="form-group">
        <%= f.label :q5 %>
        <p> Video Game <%= f.radio_button(:q5, "Video game") %>
            Board Game <%= f.radio_button(:q5, "Board Game") %></p>
    </div>

      <div class="form-group">
        <%= f.label :q6 %>
        <p> Android <%= f.radio_button(:q6, "Android") %>
            iPhone <%= f.radio_button(:q6, "iPhone") %></p>
    </div>

      <div class="form-group">
        <%= f.label :q7 %>
        <p> Art <%= f.radio_button(:q7, "Art") %>
            Sport <%= f.radio_button(:q7, "Sport") %></p>
    </div>

      <div class="form-group">
        <%= f.label :q8 %>
        <p> Paris <%= f.radio_button(:q8, "Paris") %>
            Bali <%= f.radio_button(:q8, "Bali") %></p>
    </div>

      <div class="form-group">
        <%= f.label :q9 %>
        <p> Drinks at a Bar <%= f.radio_button(:q9, "Drinks at a Bar") %>
            Night Out Clubbing <%= f.radio_button(:q9, "Night Out Clubbing") %></p>
    </div>

    <div class="form-group">
        <%= f.label :q10 %>
        <p><%= f.radio_button(:q10, "Building 8 Escalators") %> Building 8 Escalators
            Building 80 Elevators <%= f.radio_button(:q10, "Building 80 Elevators") %></p>
    </div>
    
    <%= f.hidden_field :user_id, :value => current_user.id%>
    <%= f.submit yield(:button_text), class: "btn btn-primary" %>
<% end %>


