<h3>Your answers <%= @questionnaire.user.name %> </h3>


<p>Q1: <%= @questionnaire.q1 %></p>

<p>Q2: <%= @questionnaire.q2 %></p>

<p>Q3: <%= @questionnaire.q3 %></p>

<p>Q4: <%= @questionnaire.q4 %></p>

<p>Q5: <%= @questionnaire.q5 %></p>

<p>Q6: <%= @questionnaire.q6 %></p>

<p>Q7: <%= @questionnaire.q7 %></p>

<p>Q8: <%= @questionnaire.q8 %></p>

<p>Q9: <%= @questionnaire.q9 %></p>

<p>Q10: <%= @questionnaire.q10 %></p>

