

<p>All reports by <%= current_user.name %></p>

<% @report.each do |report| %>
    
    <% reported_user = find_user(report.reported_user_id) %>
    
    <p><b><%= reported_user.name %></b></p>
    <p>Email: <%= reported_user.name %></p>
    <p>Reason: <%= report.problem %></p>
    
    <p><%= link_to "View Report", report_path(report) %></p>
    
    
<%end%>