<% reported_user = find_user(@report.reported_user_id) %>

<div class="container-fluid">
  <div class="row">
    <div class="col-sm-3"></div>
    <div class="col-sm-6 col-xs-12" align="center">
    </div>
    <div class="col-sm-3"></div>
  </div>
  <div class="row">
    <div class="col-sm-3"></div>
    <div class="col-sm-6 col-xs-12" align="center">
      <div class="container custom signup">
        <div class="glass-back"></div>
        <div class="content" style="position:relative;">

            <h2 style="text-align: center; color: silver!important;;">Submitted Report</h2>
                
            <h3>Your Details</h3>
            <p>Your Name: <%= current_user.name %></p> 
            <p>Your Email: <%= current_user.email %></p>
            
            <br>
            
            <h3>Reported User</h3> 
            <p>Their Name: <%= reported_user.name %></p>
            <p>Their Email: <%= reported_user.email %></p>
            <p>Reason: <%= @report.problem %></p>
        </div>
      </div>
    </div>
    <div class="col-sm-3"></div>
  </div>
</div>