<!DOCTYPE html>
<html>
<%= render partial: 'shared/head' %>
<body>
<% if logged_in? && current_user.is_admin? %>
    <%= render partial: 'shared/admin' %>
<% else %>
    <%= render partial: 'shared/nav' %>
<% end %>
<div class="container main">
  <% flash.each do |message_type, message| %>
      <%= content_tag(:div, message, class: "alert alert-#{message_type}") %>
  <% end %>
  <%= yield %>
</div>

<!--Footer-->

<!--End Footer-->
</body>
</html>